/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* General Styles */
* {
    font-family: Helvetica, Arial, Sans-serif;
}
.clearfix:after {
    content: ',';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.content-wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
    position: relative;
    padding: 0 13px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wide-wrapper {
    width: 100%;
    max-width: 1061px;
    margin: auto;
    position: relative;
    padding: 0 19px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.responsive-element {
  display: none;
}
.table {
    display: table;
}
.table-row {
    display: table-row;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* UK Global Navigation */
#the-bar {
    background: #222;
    height: 49px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 9px;
}
#the-bar a {
    color: white;
    text-decoration: none;
}
#the-bar a:hover {
    text-decoration: underline;
}
#breadcrumb {
    display: inline-block;
    margin-top: 3px;
}
#breadcrumb li {
    display: inline-block;
    font-size: 11px;
    position: relative;
    top: -3px;
    height: 11px;
}
#breadcrumb li.responsive-element {
  display: none;
}
#bar-uk img {
    height: 33px;
    border-right: solid thin #aaa;
    padding-right: 17px;
    margin-right: 13px;
}
#bar-unit img {
    height: 31px;
}
#bar-search {
    position: absolute;
    right: 13px;
    top: 3px;
    border: solid 1px #aaa;
}
#bar-menu-search {
    border: solid 1px #aaa;
    text-align: left;
}
#bar-search input,
#bar-menu-search input {
    background: none;
    border: none;
    border-right: solid 1px #aaa;
    margin: 0;
    padding: 3px 7px;
    color: #f3f3f3;
    font-size: 13px;
    outline: none;
}
#bar-menu-search input {
  font-size: 17px;
  width: 140px;
  padding: 6px 9px;
}
#bar-search button,
#bar-menu-search button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 2px 6px 2px 2px;
    position: relative;
    color: #f3f3f3;
    font-size: 16px;
    background: none;
}
#bar-menu-search button {
  font-size: 19px;
  top: 2px;
  left: 3px;
}
#bar-menu {
  position: absolute;
  top: 0;
  right: 19px;
}
#bar-menu .menu-toggle {
  background: none;
  border: solid 1px #888;
  color: #ccc;
  font-size: 16px;
  padding: 7px 11px;
  cursor: pointer;
  outline: none;
  position: relative;
  top: -4px;
}
#bar-menu .menu-toggle:hover {
  background: #334153;
}
body.bar-menu-open {
  overflow: hidden;
  height: 100%;
}
body.bar-menu-open #bar-menu .menu-toggle {
  background: #005daa;
}
#bar-menu nav {
  position: absolute;
  z-index: 101;
  top: 39px;
  right: 99999px;
  width: 196px;
  background: #333439;
  padding: 11px 8px;
  box-shadow: 0 4px 13px -1px rgba(0, 0, 0, 0.8);
  text-align: center;
  max-height: 0;
  overflow: hidden;
}
body.bar-menu-open #bar-menu nav {
  max-height: 400px;
  transition: max-height 0.5s;
  right: -6px;
}
#bar-menu ul {
  display: inline-block;
  text-align: left;
  width: 83%;
}
#bar-menu li {
  line-height: 1.6
}
#bar-menu li.home-link {
  margin-top: 9px;
  border-bottom: solid 1px #bbb;
  margin-bottom: 7px;
}
#bar-menu a:hover {
  text-decoration: none;
  color: #aaa;
}
#menu-backwash {
  background: rgba(0, 5, 10, 0.8);
  position: absolute;
  top: 49px;
  bottom: 0;
  left: 9999px;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.1s;
  transition: left 0s linear 0.2s;
}

body.bar-menu-open #menu-backwash {
  opacity: 1;
  transition: opacity 0.2s;
  left: 0;
}

/* Demo */
#demo-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 19px;
  background: rgba(0, 89, 238, 0.72);
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.6);
  margin: 19px;
  border-radius: 7px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: white;
}
#demo-controls:hover {
  background-color: rgba(0, 89, 238, 1);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body [class*='version-'] {
  display: none;
}
.version-1 .version-1,
.version-2 .version-2,
.version-3 .version-3 {
  display: inherit;
}

/********************** 

    A&S specifics 

**********************/

body {
    background: #FCD4BB;
}
#header {
    background: #172A3E;
    padding: 14px 0;
    position: relative;
}
#header .background {
  background: url(images/mcl-background.png) no-repeat center -61px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}
#header-as {
    height: 90px;
    opacity: 0.5;
}
#site-title {
    position: relative;
    top: -7px;
    left: -0px;
}
#site-controls {
  position: absolute;
  right: 19px;
  bottom: 0;
}
#site-controls button {
  border: none;
  color: #172a3e;
  font-size: 29px;
  position: absolute;
}
#site-search {
  background: #f57c2d;
  position: absolute;
  bottom: 51px;
  right: 0px;
  width: 56px;
  height: 42px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  transition: width 0.1s;
}
#site-search ::-webkit-input-placeholder {
  color: #5f6a75;
}
#site-search button {
  top: 1px;
  right: 6px;
  background: none;
}
#site-search input {
  position: absolute;
  top: 8px;
  right: 56px;
  font-size: 19px;
  padding: 1px 0;
  background: none;
  border: none;
  border-bottom: solid 3px #172a3e;
  width: 120px;
  color: #172a3e;
  outline: none;
}
#as-user {
  right: 0;
  bottom: 1px;
  background: #f57c2d;
  width: 56px;
  height: 42px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  transition: width 0.1s;
}
#as-user span {
  position: absolute;
  right: 91px;
  bottom: 7px;
  text-transform: uppercase;
  font-size: 23px;
  width: 90px;
}
#as-user i {
  position: absolute;
  top: 8px;
  right: 16px;
}
#site-search:hover,
#site-search.active,
#as-user:hover {
  width: 191px;
  transition: width 0.25s;
}
#main-menu {
    text-align: center;
}
#main-menu li {
    display: inline-block;
    padding: 14px 17px;
}
#main-menu a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}
#main {
    background: white;
}
#media-nav {
    font-size: 0;
}
#media-nav li {
    display: inline-block;
    width: 14.5%;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    background: #0B243B;
    margin: 6px 0.5%;
    padding: 7px 0;
}
#media-nav li.pager {
    width: 20%;
    background: none;
    color: #FCD4BB
}
#media-nav li.pager i {
    padding: 0 2px;
    font-size: 26px;
    position: relative;
    top: 3px;
}
i.active {
    color: #172A3E
}
#media-nav a {
    color: white;
    text-decoration: none;
}
.padded-content {
    padding: 6px 42px 19px;
    font-size: 17px;
    line-height: 1.4;
}
#footer {
    background: #172A3E;
    text-align: center;
    padding: 32px 0;
    position: relative;
}
#footer img {
    height: 150px;
    width: auto;
}

/* Begin Responsive */

@media screen and (max-width: 959px) {
  #header-as {
    opacity: 0.07;
    height: 152px;
    position: absolute;
    top: -42px;
    left: 25px;
  }
  #site-title {
    padding: 13px 0 2px;
    height: 69px;
  }
  #site-search,
  #as-user {
    right: -17px;
  }
}

@media screen and (max-width: 799px) {
  #breadcrumb #bar-unit {
    display: none;
  }
  #breadcrumb #bar-unit-wo-college {
    display: inline-block;
  }
  #bar-unit-wo-college img {
    height: 31px;
  }
}

@media screen and (max-width: 699px) {
  #breadcrumb #bar-uk {
    display: none;
  }
  #breadcrumb #bar-uk-memorial {
    display: inline-block;
  }
  #bar-uk-memorial img {
    height: 31px;
    border-right: solid 1px #aaa;
    padding-right: 13px;
    margin-right: 7px;
  }
  #the-bar {
    padding-top: 10px;
  }
  body.bar-menu-open #bar-menu nav {
    width: 300px;
    max-height: 600px;
    padding: 13px 11px;
    right: -9px;
  }
  #bar-menu li {
    font-size: 19px;
    line-height: 2.1;
  }
  #bar-menu-search input {
    width: 213px;
    font-size: 23px;
    padding: 17px 11px
  }
  #bar-menu-search button {
    font-size: 37px;
    top: 7px;
    left: 7px;
  }
}

@media screen and (max-width: 599px) {
  #bar-search {
    display: none;
  }
  .version-1 #bar-search-responsive-toggle {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 7px;
    background: none;
    border: none;
    color: white;
    font-size: 29px;
  }
  #media-nav {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  #breadcrumb #bar-uk-memorial,
  #breadcrumb #bar-unit-wo-college{
    display: none;
  }
  #breadcrumb #bar-uk {
    display: inline-block;
  }
  .version-2 #bar-uk img {
    border-right: none;
  }
  #bar-uk img {
    /border-right: none;
  }
  .version-1 #the-bar {
    text-align: center;
  }
  #bar-search-responsive-toggle {
    position: relative;
    top: -11px;
    right: 0;
  }
  body.bar-menu-open #bar-menu nav {
    position: fixed;
    top: 49px;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 900px;
    height: auto;
    width: auto;
  }
  #bar-menu-search {
    position: relative;
  }
  #bar-menu-search input {
    border-right: none;
    width: 100%;
    padding-right: 42px;
  }
  #bar-menu-search button {
    position: absolute;
    right: 7px;
    left: auto;
  }
  #bar-menu ul {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 77px;
    bottom: 0;
    overflow-y: scroll;
  }
  #bar-menu ul a {
    display: block;
    padding: 9px 11px;
    background: ;
    border-bottom: solid 2px #999
  }
  #bar-menu li.home-link {
    margin-bottom: 0;
    border-bottom: none;
    margin-top: 13px;
  }
  #bar-menu li.home-link a {
    background: #005daa;
    border-bottom: none;
  }
}