/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* General Styles */
body {
    font-family: 'Raleway', Helvetica, Arial, Sans-serif;
}
.clearfix:after {
    content: ',';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.content-wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
    position: relative;
    padding: 0 13px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wide-wrapper {
    width: 100%;
    max-width: 1061px;
    margin: auto;
    position: relative;
    padding: 0 19px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.responsive-element {
  display: none;
}
.table {
    display: table;
}
.table-row {
    display: table-row;
    height: 100%;
}
.table-cell {
    display: table-cell;
}
.middle {
    vertical-align: middle;
}

/* EW Style */
html {
  height: 100%;
}
body {
  height: 100%;
}
#page {
  min-height
}
#header:before {
  content: '';
  box-shadow: inset 0 0 242px -21px rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#header {
  text-align: center;
  width: 100%;
  min-height: 102%;
  position:relative;
  border-bottom: solid 13px #444;
}
#header h1 a {
  font-size: 5.9em;
  margin: auto;
  display: block;
  text-decoration: none;
  line-height: 1.3;
  color: #e0e0e0;
  padding: 0 10%;
  margin-bottom: 21px;
  text-shadow:  1px 1px 9px rgba(0,0,0,0.08);
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Oswald";
  letter-spacing: 0.07em;
}
#header h1:after {
  content: '';
  height: 3px;
  background: #ddd;
  width: 42%;
  display: block;
  margin: auto;
  margin-bottom: 19px;
  box-shadow: 0 0 9px 0px rgba(0,0,0,0.08);
  pointer-events:none;
}
body.contact #header h1:after {
  display: none;
}
#main-nav a {
  font-size: 1.4em;
  text-transform: lowercase;
  line-height: 1.9;
  text-decoration: none;
  color: #888;
  font-weight: 300;
  position: relative;
}
#main-nav a:hover {
  
}
#header .buy-links a {
  margin-top: 0;
  margin-bottom: 19px;
  background: #ccc;
  font-size: 15px;
  padding: 9px 17px;
  color: #777;
  position: relative;
  z-index: 10;
}
#header .buy-links a h2 {
  font-size: 23px;
  color: white;
  margin-bottom: 5px;
}
#header .buy-links a:hover {
  background: #bbb;
}
#main-nav .social-media a {
  opacity: 0.5;
  font-size: 2.3em;
  margin: -0.3em 5px 0;
  display: inline-block;
  transition: opacity 0.2s;
}
#main-nav .social-media a:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.panel {
  min-height: 100vh;
  padding: 42px 15%;
  box-sizing: border-box;
}
.panel h2 {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 0.8em;
}
#about {
  background: #bbb;
  position: relative;
}
#about p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
}

#writing {
  background: #f3f3f3;
}
#writing > ul > li {
  list-style: none;
  clear: left;
}
#writing img {
  height: auto;
  width: 300px;
  float: left;
  margin: 0 21px 21px 0;
  background: hsl(1, 70%, 42%);
}
#writing h3 {
  padding: 0.3em 0 0.31em;
  font-size: 1.72em;
  font-weight: 300;
}
#writing h4 {
  font-weight: 300;
  margin: 0.3em 0 0.7em;
  font-size: 1.2em;
  color: #777;
}
#writing p {
  line-height: 1.5;
  font-weight: 300;
  color: #555;
}
.buy-links {
  list-style: none;
}
.buy-links li {
  display: inline-block;
}
.buy-links li a {
  background: #666;
  color: white;
  display: inline-block;
  padding: 11px 19px;
  margin: 19px 9px 0 0;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s;
}
.buy-links li a:hover {
  background: #aaa;
  transition: background 0.2s;
}

#contact {
  background: hsl(1, 70%, 21%);
  color: #bbb;
}
#contact form {
  max-width: 610px;
  margin: auto;
  margin-top: 84px;
  position: relative;
}
#contact h3 {
  font-size: 1.42em;
  font-weight: 300;
  margin-bottom: 0.1em;
}
#contact textarea {
  width: 100%;
  font-size: 19px;
  background: #f8f8f8;
  box-shadow: inset 0 0 17px 1px rgba(0,0,0,0.4);
  padding: 9px 11px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}
#contact select {
  font-size: 28px;
  display: block;
  width: 190px;
  margin: 0.6em 0 0.1em
}
#contact input[type="text"],
#contact input[type="email"] {
  font-size: 19px;
  background: #f8f8f8;
  box-shadow: inset 0 0 9px 1px rgba(0,0,0,0.4);
  padding: 5px 11px;
  border: none;
  border-radius: 3px;
  width: 190px;
  display: block;
  margin-bottom: 4px
}
#contact input[type="submit"] {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  font-size: 29px;
  padding: 5px 11px;
}

#buy {
  min-height: 100%;
}

#footer {
  background: #292929;
  color: white;
  padding: 42px 0;
  text-align: center;
}

.message-failure,
.message-success {
  color: #333;
  font-size: 1.1em;
}
.success .message-failure,
.failure .message-success {
  display: none;
}

/* Begin Responsive */

@media screen and (max-width: 959px) {
  #the-bar {
    position: relative;
    z-index: 10;
  }
}

@media screen and (max-width: 799px) {
}

@media screen and (max-width: 699px) {
  #the-bar {
    padding-top: 10px;
  }
}

@media screen and (max-width: 599px) {
  #bar-search {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  #bar-search-responsive-toggle {
    position: relative;
    top: -11px;
    right: 0;
  }
}